/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.question-img {
    max-width: 150px;
}

.question-box {
    margin-top: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
}

.question-title {
    font-size: 20px;
    font-weight: bold;
}

.like-counter {
    margin: 10px;
    width: 150px;
}

.popular-tags-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.best-members-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.question-links {
    margin-top: 30px;
}

.page-numbers {
    margin: 30px 0 50% 50%;
}

.avatar_image {
    max-width: 50px;
    margin: 10px;
}