{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">ASKING MACHINE</a>
        <form class="form-inline search-form mt-2 mt-md-0 w-50 p-3">
            <input class="form-control mr-sm-2 w-50 p-3" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH</button>
        </form>
        {% include 'inc/navbar_user_unauthorized.html' %}
    </div>
</nav>