{% load static %}

<div class="row question-box">
    <div class="col-3">
        <img src="{% static "img/img_200.png" %}" class="question-img rounded"></img>
        {% include 'inc/vote_button.html' %}
        <form class="like-counter">  
            <input type="checkbox" class="form-check-input" id="isCorrect{{ answer.id }}">
            <label class="form-check-label" for="isCorrect{{ answer.id }}">Correct!</label>
        </form>
    </div>
    <div class="col-9">
        <div class="question-text">{{ answer.text }}</div>
    </div>
</div>
